/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* Search (command+f) to skip to author styles:
~~~~~~~ Stylesheet for Unplugged Retreat ~~~~~~
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* Stylesheet for Unplugged Retreat */

   /*
   ~~~~~~~~~~ Color Palette ~~~~~~~~~~

   #E2E3ED:
       -Text Color
   #202322:
       -Header & Footer Background
   #3A3A3A:
       -Header Divder
   #527158:
       -section.mission background (about)
       -section.faq background (faq)
       -footer buttons
   #2A423A:
       -section.reviews background (homepage)
       -section.contact background (about)


   ~~~~~~~~~~ Fonts ~~~~~~~~~~

   OpenSans: All paragraphs
   OpenSans-Bold: Nav
   .....
   font-family: 'Open Sans', sans-serif;
   font-weight: 400, 700

   Poppins-Medium: Used for H1, H2 & H3
   .....
   font-family: 'Poppins', sans-serif;


   ==================
   Table of Contents
   ==================

   - Base Styles
       - Layout
       - Header
       - Footer

   - Pages
       - Homepage (Main)
           - Hero
           - Signup form
           - Features
           - Reviews

       - About
           - Mission
           - Map
           - Contact

       - FAQ
           -Frequently Asked Questions

   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ============= Base Styles =============
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


html {
    font-size: 16px;
    height: 100%;
}

body {

	color: #E2E3ED;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 100%
}


section,
aside {
    align-items: center;
    display: flex;
    justify-content: center;
}
.content-wrapper {
    width: 90%;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #E2E3ED;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

p {

}

img {
    width: 100%;
}

figure {
    margin: 0;
}


/*~~~~~~~~~~~~ Base Header & Footer Styles ~~~~~~~~~~~~*/
header,
footer {
    align-items: center;
    background: #202322;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

header {
    width: 100%
}

header .content-wrapper{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    width: 100%;
}

header a {
    text-align: center;
}

header figure {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px 0;
    width: 60%;
}

.header-divider {
    border-bottom: 1px solid #3A3A3A;
    height: 1px;
    width: 110%;
}

nav {
    width: 60%;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
    width: auto;
}

 /* unvisited link */
nav a:link {
   color: #E2E3ED;
}
/* visited link */
nav a:visited {
   color: #E2E3ED;
}
/* mouse over link */
nav a:hover {
   color: #527158;
}
/* selected link */
nav a:active {
   color: #2A423A;
}

/* ============================= */

footer {
    flex-direction: column;
}

footer .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%
}

.footer-content {
    padding-top: 50px;
    width: 55%;
}

footer h3 {
    padding-bottom: 17px;
    text-align: center;
    text-transform: capitalize;
}

footer address {
    text-align: center;
}


footer .social-icons {
    display: flex;
    justify-content: space-around;
}

.contact,
.social {
    padding-bottom: 50px;
}

footer .copyright {
    font-size: .75em;
    text-align: center;
    width: 100%;
}

/*******************
~~ MOBILE FIRST STYLES ~~
*******************/

/*=======================
        Homepage
========================

/*~~~~~~~~~~~~ Hero ~~~~~~~~~~~~*/
.hero-area {
    align-items: flex-start;
    background: url("../img/jake-melara-30679-unsplash.png") center
    no-repeat #2A423A;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    height: 500px;
}

.hero-area h1 {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 400;
    padding-top: 50px;
}

/*~~~~~~~~~~~~ Signup Form ~~~~~~~~~~~~*/
aside {
    background-color: #527158;
}

aside .content-wrapper {
    padding-bottom: 50px;
}

aside h3 {
    margin: 0;
}

.form {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.signup-form {
}

.form input {
    box-sizing: border-box;
    padding: 15px 0;
    height: 55px;
    margin-top: 15px;
    width: 100%;
}

input[type=text] {
    background: #e2e3ed;
    border: solid 1px black;
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.form-description {
    padding: 25px 0;

}

/*~~~~~~~~~~~~ Features ~~~~~~~~~~~~*/
section.features {
    background-color: #202322;
    background-image: url('../img/rawpixel-800820-unsplash1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0;
}


.features h2 {
    line-height: 45px;
    word-spacing: 5px;
}


.features article {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 40px 0;
}


.fontawesome-icon {

}

p.features-item-description {
    padding-top: 40px;
    text-align: center;
    width: 65%;
    font-size: .8em;
}

/*~~~~~~~~~~~~ Reviews ~~~~~~~~~~~~*/

.reviews {
    background-color: #2a423a;
    padding: 50px 0 45px;
}

.reviews .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.reviews h2 {
    margin-bottom: 30px;
}

.reviews p {
    margin: 0;
    padding:
}

.reviews figure {
    width: 100%;
}

.reviews span {
    font-size: 1.05em;
    display: block;
    padding: 20px 0;
}

/*=======================
         FAQ
========================


/*~~~~~~~~~~~~ FAQ ~~~~~~~~~~~~*/
section.faq {
    background: #527158;
}

.faq-content {
    padding: 50px 0;
}

.faq-content h1 {
    line-height: 30px;
    font-weight: normal;
    margin: 0;
    width: 100%;
}

article.faq-items {
    padding: 50px 15px 0;
    box-sizing: border-box;
}

.faq-items h3{
    padding-bottom: 15px;
}

/*=======================
         About
========================


/*~~~~~~~~~~~~ Section - Mission ~~~~~~~~~~~~*/
.mission {
    background: #527158;
}

.mission h1{
    font-size: 1.97em;
    font-weight: normal;
    padding-top: 50px;
}

.mission p {
    font-size: .8em;
    padding-top: 15px;
}

.mission .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

/*~~~~~~~~~~~~ Section - Map ~~~~~~~~~~~~*/



.map-section figure {
    height: 0;
    overflow: hidden;
    padding-bottom: 125%;
    position: relative;
    width: 100%;
}

iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}
/*~~~~~~~~~~~~ Section - Contact ~~~~~~~~~~~~*/
.contact-section {
    background: #2A423A;
    padding: 50px 0;
}

.contact-section h2 {
    width: 100%;
}


.contact-section h3 {
    margin: 0;
    padding: 15px 0;
}

.contact-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.contact-wrapper address {
    margin: 0;

}


 ==========================================================================
   Helper classes
   /*========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
 Media Queries for Responsive Design.
   ========================================================================== */

   /*******************
   ~~ TABLET STYLES ~~
   *******************/
   @media only screen and (min-width: 768px){

/*~~~~~~~~~~~~ Base Header & Footer Styles ~~~~~~~~~~~~*/

       header {
           justify-content: center;
       }

       .header-divider {
           height: 0;
           width: 0;
       }


       header .content-wrapper {
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 90%;
        }

        header figure {
            width: 25%;
        }

       nav ul {
           padding: 0;
           text-align: right;
       }

       nav li {
           display: inline;
           margin-left: 40px;
           width: auto;
       }

       nav li a {
           text-decoration: none;
       }

       /*~~ Footer ~~*/

       .footer-content {
           align-items: flex-start;
           display: flex;
           justify-content: space-between;
           width: 65%;
           }



       .contact,
       .social {
           width: 40%;
       }

       footer h3 {
           padding-bottom: 22px;
           font-size: 1.2em;
       }



/* ================
~ Hompepage ~
================ */
        /* Hero Area */
        .hero-area {
            height: 600px;
        }

        /* Newsletter signup */

        aside .content-wrapper {
           align-items: flex-start;
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           padding: 50px 0;
       }

        aside h3 {
            font-size: 1.5em;
        }

        div.form-description,
        div.form {
           width: 37%;
       }

       .form-description {
           padding: 0;
       }

       .form-description h3 {
           padding: 0 0 20px 0;
       }

       .form input {
           height: 40px;
           margin-top: 20px;
           padding: 5px 0;
       }

/*~~~~~~~~~~~~ Features ~~~~~~~~~~~~*/
        .features-item {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }

       .features article {
           display: flex;
           justify-content: flex-start;
           width: 40%;
       }

/*~~~~~~~~~~~~ Reviews ~~~~~~~~~~~~*/
        .reviews .content-wrapper {
            align-items: flex-start;
            justify-content: space-between;
        }

        .reviews h2 {
            margin-bottom: 10px;
            width: 80%;
            font-size: 2.2em;
        }

        .reviews figure {
            padding: 0;
            width: 50%;
        }

        .reviews-content {
            padding: 0 15px;
            width: 45%;
        }

        .reviews p {
            font-size: 1em;
        }

        .reviews span {
            font-size: 1.2em;
            margin: 0;
            padding: 0 0 15px 0;
        }




/* ================
~ FAQ ~
================ */

.faq .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 520px;
}

.faq-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.faq-items {
    padding: 50px 0 0 0;
    width: 45%;
}

.faq h3 {
    font-size: 1em;
    margin: 0;
}

/* ================
~ About ~
================ */

/*~~~~~~~~~~~~ Section - Mission ~~~~~~~~~~~~*/

        .mission h1 {
            font-size: 2.3em;
            margin: 0;
            padding: 0;
        }

        .mission p {
            padding-top: 60px;
            width: 47%;
        }

        .mission .content-wrapper {
            padding: 95px 0;
        }

/*~~~~~~~~~~~~ Section - Contact ~~~~~~~~~~~~*/

        .contact-section {
        padding: 95px 0;
        }

        .contact-wrapper {
            padding-top: 50px;
            width: 50%;
        }

        .contact-content h2 {
            padding: 0;
            font-size: 2em;
            width: 75%;
        }

         .contact-section h3 {
             font-size: 1.3em;
         }
}

/*******************
~~ DESKTOP STYLES ~~
*******************/

@media only screen and (min-width: 1200px) {

   .content-wrapper {
       width: 80%;
   }

/*~~~~~~~~~~~~ Base Header & Footer Styles ~~~~~~~~~~~~*/

    footer h3 {
        font-size: 1.4em;
    }

    .contact,
    .social {
        width: 35%;
    }

    /* ================
    ~ Hompepage ~
    ================ */

/*~~~~~~~~~~~~ Hero Area ~~~~~~~~~~~~*/
    .hero-area h1 {
        font-size: 3.6em;
        font-weight: 400;
        width: 85%;
    }

/*~~~~~~~~~~~~ Newsletter Signup ~~~~~~~~~~~~*/
    div.form-description,
    div.form {
       width: 33%;
   }

/*~~~~~~~~~~~~ Features ~~~~~~~~~~~~*/
    .features h2 {
        font-size: 2em;
        padding: 30px 0;
    }

   .features article {
       display: flex;
       justify-content: flex-start;
       width: 30%;
   }

    .features article p {
        font-size: 1.07em;
    }
/*~~~~~~~~~~~~ Reviews ~~~~~~~~~~~~*/
    .reviews h2 {
        font-size: 2.2em;
        margin-bottom: 50px;
    }

    .reviews p {
        font-size: 1.2em;
    }

    .reviews span {
        font-size: 1.5em;
    }


/* ================
~ FAQ ~
================ */

   /* NO ADDITIONAL STYLES */

/* ================
~ About ~
================ */

/*~~~~~~~~~~~~ Section - Mission ~~~~~~~~~~~~*/
   .mission h1{
       font-size: 2.5em;
       font-weight: normal;
   }

   .mission p {
       font-size: 1.15em;
       padding-top: 15px;
   }

/*~~~~~~~~~~~~ Section - Contact ~~~~~~~~~~~~*/
   .contact-content h2 {
       padding: 0;
       font-size: 2.5em;
       width: 100%;
   }

    .contact-section h3 {
        font-size: 1.6em;
    }
}


  /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
